<!-- <a href="javascript:history.back()">◁</a>
<a href="{% url 'food:cart_view' %}">🧺
    {% if cart_items_count == 0 %}{% else %}{{ cart_items_count }}{% endif %}
</a>
<a href="{% url 'point:barcode' %}">바코드</a>
{{ total_point }}P

<h2>최근 구매한 식재료 목록</h2>

<form method="post">
    {% csrf_token %}

    <h3>최근 장바구니 재료</h3>
    {% for si in recent_ingredients %}
        <label>
        <input type="checkbox"
                name="ingredient_ids"
                value="{{ si.ingredient.id }}"
                {% if selected_ids and si.ingredient.id|stringformat:"s" in selected_ids %}checked{% endif %}>
        {{ si.ingredient.name }}
        </label><br>
    {% empty %}
        <p>최근 장바구니에 재료가 없습니다.</p>
    {% endfor %}

    <h3>직접 추가한 재료</h3>
    {% for ing in extra_ingredients %}
        <label>
        <input type="checkbox"
                name="ingredient_ids"
                value="{{ ing.id }}"
                {% if selected_ids and ing.id|stringformat:"s" in selected_ids %}checked{% endif %}>
        {{ ing.name }}
        </label><br>
    {% empty %}
        <p>직접 추가한 재료가 없습니다.</p>
    {% endfor %}

    <br>
    <button type="submit">선택 완료</button>
</form>

<hr>

<form action="{% url 'food:leftover_extra_ingredient_search' %}" method="get" style="display:inline;">
    <button type="submit" class="btn">직접 추가하기</button>
</form> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/food_leftover_select_recent_ingredients.css' %}" />
    <script src="{% static 'js/food_leftover_select_recent_ingredients.js' %}" defer></script>
    <title>Document</title>
</head>
<body>
    <div id="Container">
        <img id="statusBar" src="{% static 'img/iPhone Status bar.png' %}"/>
        <div id="pointBar">
            <a href="{% url 'food:recipe_input' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M20 24L12 16L20 8" stroke="#D9D9D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            <div class="userBar">
                <a href="{% url 'food:cart_view' %}" class="basket-container">
                    {% if cart_items_count == 0 %}
                        <img src="{% static 'img/basket.svg' %}" class="basket" alt="basket">
                        <span class="basket-count">{{ cart_items_count }}</span>
                    {% else %}
                        <img src="{% static 'img/basket.svg' %}" class="basket" alt="basket">
                        <span class="basket-count">{{ cart_items_count }}</span>
                    {% endif %}
                </a>
                <a href="{% url 'point:barcode' %}"><img src="{% static 'img/lucide.svg' %}" class="lucide" alt="lucide"></a>
                <a href="{% url 'point:point_home' %}"><div class="pointNum"><p>{{ total_point }}P</p></div></a>
            </div>
        </div>
        <div class="mainMent">
                <div class="text1">최근 구매한 식재료 목록</div>
                <div class="text2">오늘 요리할 남은 식재료를 3개 이내로 선택해주세요<br>
                    활용 가능한 요리법을 알려드릴게요!
                </div>
        </div>
        <div id="mainBoard">
            <form method="post">
                {% csrf_token %}

                <div id="basicBox">
                    <div class="basicCheckBox">
                        {% for si in recent_ingredients %}
                            <input type="checkbox" id="basic_{{ forloop.counter }}" name="ingredient_ids" value="{{ si.ingredient.id }}" 
                                {% if selected_ids and ing.id|stringformat:"s" in selected_ids %}{% endif %} hidden>
                            <label for="basic_{{ forloop.counter }}" class="ingredient-btn"> {{ si.ingredient.name }}</label>
                        {% empty %}
                            <p class="empty-log">장바구니에 재료가 없습니다</p>
                        {% endfor %}
                    </div>
                </div>

                <div id="extraBox">
                    <p>직접 추가한 재료</p>
                    <div class="extraCheckBox">
                        {% for ing in extra_ingredients %}
                            <input type="checkbox" id="extra_{{ forloop.counter }}" name="ingredient_ids" value="{{ ing.id }}"  hidden>
                            <label for="extra_{{ forloop.counter }}" class="ingredient-btn"> {{ ing.name }}</label>
                        {% empty %}
                            <p class="empty-log">직접 추가한 재료가 없습니다</p>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit">다음</button>
            </form>
        </div>

        <div class="bottomBoard">
            <form action="{% url 'food:leftover_extra_ingredient_search' %}" method="get" class="userPick">
                <button type="submit" class="btn"><p>재료 직접 담기</p></button>
            </form>
        </div>
    </div>
</body>
</html>
