<h2>재료가 궁금한 요리를 입력해주세요!</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="recipe" placeholder="예: 된장찌개, 김치볶음밥" value="{{ initial_recipe }}">
        <button type="submit">확인</button>
    </form>
        
<hr>

<form method="get" action="{% url 'food:recipe_ai' %}">
    <button type="submit">어떤 요리를 만들지 추천해줘</button>
</form>

<form method="get" action="{% url 'food:show_recent_ingredients' %}">
    <button type="submit">이전에 구매하고 남은 식재료로 요리할래</button>
</form>

</body>
</html>