* {
    font-family: 'Pretendard';
    font-style: normal;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    background: none; 
    caret-color: transparent;
}

#Container{
    position: relative;
    width: 393px;
    height: 852px;
    margin: 0 auto;
    border: 1px solid var(--Gray-Primary, #d9d9d9);
}
.basket-container {
    position: relative;
    display: inline-block;
}

.basket-count {
    position: absolute;
    bottom: -1px;  /* 아래쪽으로 */
    right: -6px;   /* 오른쪽으로 */
    background: #545454;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 300;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 상단 바 */
#pointBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.userBar{
    display: inline-flex;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    gap: 5px;
}

.pointNum{
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #F5F5F5;
    padding: 5px 17px;
    max-width: 120px;    
}

.pointNum p {
    color: #545454;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainMent{
    padding: 12px 61px;
    padding-top: 0;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 100%;
}
.text1{
    color: #545454;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}
.text2{
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    white-space: nowrap;
}


/* 메인 보드 */
#mainBoard{
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: 0 35px 16px 35px;         /* Container 내에서 남는 공간을 채우도록 */
    position: absolute;
    bottom: 66px;
    left: 0;
    right: 0;
    top: 195px;
    overflow-y: auto;

    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none; 
    user-select: none;  
}
#mainBoard::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}
/* 기본재료, 선택 재료, 직접 추가한 재료 */
#mainBoard p{
    color: rgba(196, 196, 196, 0.70);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}


#basicBox, #extraBox{
    display: flex;
    gap:11px;
    flex-direction: column;
    padding-top: 16px;
}

.basicCheckBox, .extraCheckBox{
    display: flex;
    flex-direction: column;
    gap: 11px;
}


.ingredient-btn{
    display: flex;
    padding: 15px 33px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    transition: background-color 0.3s, color 0.3s;
}

/* 선택되었을 때 btn의 색상 변환 */
input[type="checkbox"]:checked + .ingredient-btn {
    background-color: #BEDA78;
    border: 1px solid #D9D9D9;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* 하단탭 */
.bottomBoard{
    position: absolute;
    bottom: 0;
    display: flex;
    height: 66px;
    width: 100%;
    padding: 16px 15px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    background: #FFF;
}

.bottomBoard p{
    color: #545454;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.userPick{
    display: flex;
    width: 134px;
    height: 34px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-shrink: 0; 
    border-radius: 15px;
    background: #D9D9D9;
}

.nextBtn{
    display: flex;
    width: 134px;
    height: 34px;
    padding: 14px 0;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #BEDA78;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.empty-log {
    color: #888;           /* 글자색 */
    font-size: 16px;       /* 글자 크기 */
    text-align: center;    /* 가운데 정렬 */
    padding: 20px 0;       /* 위아래 여백 */
}
