* {
    font-family: 'Pretendard';
    font-style: normal;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
    caret-color: transparent;
}
@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#Container{
    position: relative;
    width: 393px;
    height: 852px;
    margin: 0 auto;
    border: 1px solid var(--Gray-Primary, #d9d9d9);
}

.modal {
    position: absolute;
    top: 0; right: 10;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.hidden {
    display: none;
}

.modal-content {
    background: #fff;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
    padding: 20px 20px 0 20px; 
}


.modal-icon {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-text {
    font-size: 18px;
    font-weight: 600;
    color: #e74c3c; 
    margin-bottom: 20px;
}

.modal-btn {
    display: block;
    width: 300px;
    padding: 14px 0;
    border: none;
    background: #D9D9D9;
    font-size: 16px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    border-radius: 0 0 20px 20px; 


    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    }


#locationBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
}
.basket-container {
    position: relative;
    display: inline-block;
}

.basket-count {
    position: absolute;
    bottom: -1px; 
    right: -6px;  
    background: #545454;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 300;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 사용자 위치 */
.userLoc a{
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2px;
}
.userLoc p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;;
}
.downIcn{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.userBar{
    display: inline-flex;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.pointNum{
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #F5F5F5;
    padding: 5px 17px;
    max-width: 120px;    
}

.pointNum p {
    color: #545454;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}


#mainBoard{
    margin: 0 25px;
}

/* 배너 선택 부분 */
.bannerSelect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    gap:59px
}

#mart, #cafe, #trad{
    display: flex;
    width: 72px;
    height: 29px;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid #D9D9D9;
    white-space: nowrap;
}

.bannerSelect p{
    color: #D9D9D9;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.clickable {
    border: 2px solid #D9D9D9 ;  
    transition: border-color 0.3s;   
}

.clickable p {
    color: #D9D9D9;                
    transition: color 0.3s;
}

/* active 클래스가 붙으면 테두리와 글자 색상 변경 */
.clickable.active {
    border: 2px solid #545454 !important;     
}

.clickable.active p {
    color: #545454;              
}


/* 광고 배너 부분 */
#banner{
    width: 100%;
    height: 229px;
    margin-top: 20px;
    position: relative;
}

#banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
    display: block;
}

#board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

/* 제목 */
.title1{
    color: #000;
    text-align: center;
    font-family: "HSSanTokki20-Regular";
    font-size: 36px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}
.promoText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.title2 p{
    color: #545454;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

/* 요리하기, 식재료 사기 선택 */

.food-ingredient{
    display: flex;
    flex-direction: row;
    
    gap: 33px;
    padding-top: 36px;
}

.food, .ingredient{
    width: 155px;
    height: 146px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F5F5;
    position: relative;
}

.food-ingredient button:hover {
    background: #D7E5B4; 
    cursor: pointer;     
}

.food-ingredient button:hover svg path {
    stroke: #545454 !important;   
}

.food p, .ingredient p{
    position: absolute;
    right: 19px;
    bottom: 29px;
    color: #545454;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.food-ingredient svg {
    position: absolute;
    top: 27px;
    left: 21px;
}


.modal {
    position: absolute;
    top: 0; right: 10;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.hidden {
    display: none;
}

.modal-content {
    background: #fff;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
    padding: 20px 20px 0 20px; 
}


.modal-icon {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-text {
    font-size: 18px;
    font-weight: 600;
    color: #e74c3c; 
    margin-bottom: 20px;
}

.modal-btn {
    display: block;
    width: 300px;
    padding: 14px 0;
    border: none;
    background: #D9D9D9;
    font-size: 16px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    border-radius: 0 0 20px 20px; 


    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    }