* {
    font-family: 'Pretendard';
    font-style: normal;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
    caret-color: transparent;
}
@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#Container{
    position: relative;
    width: 393px;
    height: 852px;
    margin: 0 auto;
    border: 1px solid var(--Gray-Primary, #d9d9d9);
}

/* 상단 바 */
#pointBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.homeBtn{
    display: flex;
    align-items: center;
}


.userBar{
    display: inline-flex;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    gap: 5px;
}

.pointNum{
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #F5F5F5;
    padding: 5px 17px;
    max-width: 120px;    
}

.pointNum p {
    color: #545454;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 메인 보드 */

#mainBoard * {
user-select: none;
}

/* 메인-1 */

.board1{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px 50px;
    gap: 15px;
}

/* 멘트부분 */
.userPoint{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    color: #545454;
    text-align: center;
    font-family: "HSSanTokki20-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

/* 총 장보미 수&총 장보미 수 */
.userResult{
    display: flex;
    max-width: 290px;
    padding: 15px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #F5F5F5;
}
.line{
    width: 2px;
    height: 45px;
    background: #D9D9D9;
    margin: 0 12px;
}
.totalUser, .totalPoint{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title{
    color: #D9D9D9;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.totalUserNum, .totalPointNum{
    max-width: 120px;
    color: #545454;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;    /* 줄바꿈 방지 */
    overflow: hidden;       /* 넘치는 글자 숨김 */
    text-overflow: ellipsis;
}

.rank30{
    color: #545454;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

/* 1등~3등 */
.top3Container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
    margin: 20px 0;
}

.rank-card {
    background: #f5f5f5;
    border-radius: 30px;
    width: 83px;
    height: 151px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* 1등은 더 크고 위로 올리기 */
.rank-card.first {
    transform: translateY(-20px);
    width: 94px;
    height: 171px;

}



.rank-title {
    color: #545454;
    margin-top: 33px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

/* .username {
    color: #545454;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    width: 1.5ch;          
    overflow: hidden;     
    white-space: nowrap;  
} */

.username {
    color: #545454;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    
}


.board2{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap:15px;
    overflow-y: auto;

    position: absolute;
    top:490px;
    bottom: 65px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
}

.board2::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.rankingItem{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.rank{
    margin-right: 32px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}
.info{
    max-width: 90px;
    white-space: nowrap;   
    overflow: hidden;  
    margin-right: 100px; 
}
.points{
    color: #545454;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}



/* 하단 탭 */
#bottomTab {
    position: absolute ;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 12px 60px;
    border-top: 1px solid #EBE9E9;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    gap: 68px;
}
#bottomTab p{
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

.homeTab, .myTab, .pointTab{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

#bottomTab p {
    color: #A5A5A5; /* 기본 글자 색상 - 연한 회색 */
    text-decoration: none;
    transition: color 0.3s;
}

#bottomTab a.active p{
  color: #000000; /* 활성 탭 글자 색상 - 진한 검정 */
}

#bottomTab a svg path {
    stroke: #A5A5A5; /* 기본 아이콘 색상 */
    transition: stroke 0.3s;
}

#bottomTab a.active svg path {
  stroke: #000000; /* 활성 아이콘 색상 */
}
