* {
    font-family: 'Pretendard';
    font-style: normal;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
    caret-color: transparent;
}
@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#Container{
    position: relative;
    width: 393px;
    height: 852px;
    margin: 0 auto;
    border: 1px solid var(--Gray-Primary, #d9d9d9);
}

/* 상단 바 */
#pointBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.homeBtn{
    display: flex;
    align-items: center;
}


.userBar{
    display: inline-flex;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    gap: 5px;
}

.pointNum{
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #F5F5F5;
    padding: 5px 17px;
    max-width: 120px;    
}

.pointNum p {
    color: #545454;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 메인 보드 */

#mainBoard * {
user-select: none;
}

/* 메인-1 */

.board1{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px 0;
    gap: 12px;
}

/* 멘트부분 */
.userPoint{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    color: #545454;
    text-align: center;
    font-family: "HSSanTokki20-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}


/* 장 보러 가기 버튼 */
.food_buy{
    display: flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #F5F5F5;

    color: #545454;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}




/* 옵션 컨테이너 */
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 드롭다운 버튼 */

.dropdown{
    position: relative;
}

.dropdownNow {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    color: #545454;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

button{
    background: #fff;
}

/* 드롭다운 메뉴 */
.dropdown-menu {
    display: none;  /* 처음엔 숨김 */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.04);
    list-style: none;
    z-index: 10;
}

.dropdown-menu li {
    padding: 7px;
    cursor: pointer;

    color: #545454;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

/* 최신순/금액순 텍스트 */

.sort-label{
    margin-left: 5px;
}
.sort-label input[type="radio"] {
    display: none; /* 라디오는 숨김 */
}

.sort-label span {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background 0.2s, color 0.2s;

    color: #545454;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.sort-label input[type="radio"]:checked + span {
    background-color: #BEDA78; /* 선택 시 배경 */
    color: white;               /* 선택 시 글자 색상 */
}




/* 메인-2 */
.board2{
    position: absolute;
    top: 250px;
    bottom:65px;
    width: 100%;
    background: #F5F5F5;
    padding: 25px 30px;

    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
}
.board2::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.shopping_list{
    display: flex;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    gap: 111px;
    border-radius: 20px;
    background: #FFF;
    margin-bottom: 11px;
}
.martDate{
    display: flex;
    flex-direction: column;
}

.martName{
    color: #545454;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}
.visitDate{
    color: #D9D9D9;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
}
.martPoint{
    color: #ACCE58;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}





/* 하단 탭 */
#bottomTab {
    position: absolute ;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 12px 60px;
    border-top: 1px solid #EBE9E9;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    gap: 68px;
}
#bottomTab p{
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

.homeTab, .myTab, .pointTab{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

#bottomTab p {
    color: #A5A5A5; /* 기본 글자 색상 - 연한 회색 */
    text-decoration: none;
    transition: color 0.3s;
}

#bottomTab a.active p{
  color: #000000; /* 활성 탭 글자 색상 - 진한 검정 */
}

#bottomTab a svg path {
    stroke: #A5A5A5; /* 기본 아이콘 색상 */
    transition: stroke 0.3s;
}

#bottomTab a.active svg path {
  stroke: #000000; /* 활성 아이콘 색상 */
}
