* {
    font-family: 'Pretendard';
    font-style: normal;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
    caret-color: transparent;
}
#Container{
    position: relative;
    width: 393px;
    height: 852px;
    margin: 0 auto;
    border: 1px solid var(--Gray-Primary, #d9d9d9);
}

.backIcon {
    width: 24px;
    height: 24px;
    margin-top: 32px;
    margin-left: 17px;
}


.mainBoard{
    display: flex;
    margin: 16px 25px 0 25px;
    flex-direction: column;
}

.pageNum{
    color: #D9D9D9;
    text-align: center;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto; 
    font-size: 24px;
}

.text{
    margin-top: 22px;
    margin-bottom: 37px;
    color: #545454;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.userBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.userBox p{
    color: #545454;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}
.userInput{
    display: flex;
    height: 44px;
    padding: 10px 21px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    background: #F5F5F5;
}



button {
    position: absolute;
    display: flex;
    width: 271px;
    height: 53px;
    padding: 14px 55px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #BEDA78;
    bottom:105px;
    left: 50%;
    transform: translateX(-50%);
}
button p{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}


input {
    background: #F5F5F5;
    font-size: 20px;
    font-weight: 300;
    
}
input::placeholder {
    color: #D9D9D9;  /* 원하는 색상으로 변경 */
}