/* Step 2: 비밀번호 설정 */

.passwordBox,
.repasswordBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.repasswordBox {
  margin-top: 20px;
}

.passwordBox p,
.repasswordBox p {
  color: #545454;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.passwordInput,
.repasswordInput {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 44px;
  padding: 10px 21px;
  width: 100%;
  border-radius: 20px;
  background: #f5f5f5;
}

.exText {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-top: 4px;
}

.exText img {
  width: 16px;
  height: 16px;
}

.exText p {
  color: #d9d9d9;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

.lenText,
.specialText,
.checkText {
  display: flex;
  align-items: center;
  gap: 6px;
}

.is-valid .exText p,
.is-valid .lenText,
.is-valid .specialText,
.is-valid .checkText {
  color: #5b8f00;
}