{% load humanize %}

<h2>내 활동 내역</h2>

<p>{{ user.nickname }} - {{ user.location }}</p>

<ul>
    <li>총 장봄 횟수: <strong>{{ total_logs }}</strong>회</li>
    <li>누적 걸음 수: <strong>{{ total_steps|intcomma }}</strong> 걸음</li>
    <li>CO₂ 절감량: <strong>{{ co2_saved_kg }}</strong> kg</li>
    <li> 
        {% if user_rank %} <p>랭킹: {{ user_rank }}</p> {% else %} <p>아직 랭킹이 없습니다. 활동을 시작해보세요!</p> {% endif %}</strong>
    </li>
</ul>

<a href="{% url 'accounts:my_recipes' %}">요리법 보관함</a><br>
<a href="{% url 'accounts:activity_history' %}">세부 활동 내역</a><br>
<a href="{% url 'food:select_recent_ingredients' %}">남은 식재료 활용법 추천</a>

<br><hr><br>
<a href="{% url 'food:main' %}">홈</a> |
<a href="{% url 'accounts:activity_log' %}">내 활동</a> |
<a href="{% url 'point:point_home' %}">포인트</a>
