<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>가장 가까운 마켓</title>
</head>
<body>
    <a href="javascript:history.back()">⟨</a> {{ total_point }}P
    <h2>{{ market.name }}</h2>
    <p>{{ market.address }}</p>
    <p>{{ distance_m }}m</p>

    {% if market.image %}
        <img src="{{ market.image.url }}" alt="{{ market.name }} 이미지" width="200">
    {% endif %}

    <p>-------------{{ expected_time }}분-------------</p>
    <p>현재 위치에서 {{ expected_time }}분만 걸어가면 돼요!</p>


    <!--업체 정보--> <br><hr>
    <h3>업체 정보</h3>

    {% if closing_in_minutes <= 30 and closing_in_minutes > 0 %}
        <p>영업 종료까지 {{ closing_in_minutes }}분 남았어요.</p>
    {% elif closing_in_minutes == 0 %}
        <p>영업 종료</p>
    {% else %}
        <p>현재 영업 중</p>
    {% endif %}
  

    <p>{{ market.info }}</p>
    <p>{{ market.phone }}</p>
    <p>{{ market.address }}</p>

    <!--장바구니--> <br><hr>
    <h3>장바구니</h3>

    {% if market.market_type == 'mart' %}
    <div class="ingredient-list">
        {% for item in matched_ingredients %}
        <div class="ingredient-box">
            {% if item.image %}
            <img src="{{ item.image }}" alt="{{ item.name }}" style="width:50px;height:50px;object-fit:cover;margin-right:10px;">
            {% else %}
            <div class="no-img-box"></div>
            {% endif %}
            <div>{{ item.name }}</div>
        </div>
        {% empty %}
        <p>장바구니에 재료가 없습니다.</p>
        {% endfor %}
    </div>

    {% if unmatched_ingredients %}
    <p>
        {% for item in unmatched_ingredients %}
        <span class="pill">{{ item.name }}</span>
        {% endfor %}
        은(는) 해당 마트에서 판매하지 않습니다.
    </p>
    {% endif %}

    {% elif market.market_type == 'trad' %}
    <div class="ingredient-list">
        {% for item in unmatched_ingredients %}
        <div class="ingredient-box">
            {% if item.image %}
            <img src="{{ item.image }}" alt="{{ item.name }}"
                style="width:50px;height:50px;object-fit:cover;margin-right:10px;">
            {% else %}
            <div class="no-img-box"></div>
            {% endif %}
            <div>{{ item.name }}</div>
        </div>
        {% empty %}
        <p>장바구니에 재료가 없습니다.</p>
        {% endfor %}
    </div>
    {% endif %}

    <br>

    <p>{{ point_earned }} 포인트 적립</p>

    {% if closing_in_minutes > 0 %}
    <form method="get" action="{% url 'market:map_direction' %}">
        <input type="hidden" name="market_id" value="{{ market.id }}">
        <input type="hidden" name="expected_time" value="{{ expected_time }}">
        <input type="hidden" name="point_earned" value="{{ point_earned }}">
        <button type="submit">출발하기</button>
    </form>
    {% endif %}

    <!--상점 영업시간 종료 팝업-->
    {% if closing_in_minutes <= 0 %}
        <h4>현재 운영중인 상점이 없어요</h4>
        담은 재료는 장바구니에 저장되므로 다음에 시도해주세요
    <form method="get" action="{% url 'food:main' %}">
        <button type="submit">홈으로</button>
    </form>
    {% endif %}
</body>
</html>