<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>비밀번호 인증</title>
    <a href="javascript:history.back()">✕</a>
    <h2>구매 인증</h2>
</head>
<body>
    <h3>직원분께 비밀번호 입력을 요청해주세요</h3>

<form method="POST" action="{% url 'market:verify_secret' %}">
    {% csrf_token %}
    <input type="hidden" name="market_id" value="{{ market.id }}">
    <input type="hidden" name="shoppinglist_id" value="{{ shoppinglist_id }}">
    <input type="hidden" name="point_earned" value="{{ point_earned }}">

        <input type="password"
                name="password"
                maxlength="20"
                required
                pattern="[0-9]*"
                inputmode="numeric"
                placeholder="비밀번호 4자리"
                style="text-align:center; font-size: 24px; width: 100px;" />

        {% if message != "구매 인증 성공" %}
            <p style="color:red;"> {{ message }}</p>
        {% endif %}
        <button type="submit">다음</button>
    </form>
    <!--모달창-->
    {% if message == "구매 인증 성공" and shoppinglist_id %}
        <p style="color:green; font-weight:bold;">✔ {{ message }}</p>
        <a href="{% url 'market:shopping_success' shoppinglist_id %}?market_id={{ market.id }}">확인</a>
    {% endif %}
</body>
</html>
