<!DOCTYPE html>
<html>
<head>
    <title>장보기 성공!</title>
</head>
<body>
    <a href="javascript:history.back()">⟨</a> {{ total_point }}P
    <h1>장보기 성공!</h1>
    <p>잘 다녀오셨어요!
    <br>오늘도 장봄과 함께해주셔서 고마워요</p>

    <div>
        <h2>+ {{ point_earned }} 포인트</h2>
        <p>누적 {{ total_point }} 포인트</p>
    </div>

    <div>
        <a href="{% url 'point:point_history' %}">적립 내역 ></a>
        <a href="{% url 'point:point_ranking' %}">랭킹 확인하기 ></a>
    </div>

    주변에 이런 장소도 있어요!<br>장소추천 기준 정하고 추가 예정
<br>
<a href="{% url 'food:main' %}">홈</a> |
<a href="{% url 'accounts:activity_log' %}">내 활동</a> |
<a href="{% url 'point:point_home' %}">포인트</a>
</body>
</html>